version: 2.1
workflows:
  main:
    jobs:
      - test
jobs:
  test:
    docker:
      - image: hseeberger/scala-sbt:8u265_1.4.4_2.13.4
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install Docker
          command: |
            curl -sSL https://get.docker.com/ | sh
      - run: ./run.sh
