version: 2.1
orbs:
  slack: circleci/slack@4.0
workflows:
  pushed:
    jobs:
      - test:
        context:
          - mu-scala-haskell-int-tests
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test:
        context:
          - mu-scala-haskell-int-tests
jobs:
  test:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run: sudo snap install jq
      - run:
          name: Install sbt
          command: |
            curl -fLo cs https://git.io/coursier-cli-linux
            chmod +x cs
            ./cs install sbt
      - run: ./run.sh
      - slack/notify:
        event: fail
        template: basic_fail_1
